{% extends 'base.html' %}

{% block title %}Список заказов{% endblock %}

{% block content %}
<h1>Список заказов</h1>

{% if orders %}
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'shopapp:order_detail' order.pk %}">
                    Заказ №{{ order.pk }}
                </a>

                <br>

                Пользователь: {{ order.user.username }}
                <br>
                Адрес: {{ order.customer_address }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Заказов пока нет.</p>
{% endif %}
{% endblock %}