{% extends 'base.html' %}

{% block title %}Форма заказа{% endblock %}

{% block content %}
<h1>Заказ</h1>

<form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}

            {% for error in field.errors %}
                <span style="color: red;">
                    {{ error }}
                </span>
            {% endfor %}
        </p>
    {% endfor %}

    <button type="submit">
        Сохранить
    </button>
</form>

<a href="{% url 'shopapp:order_list' %}">
    Назад к списку
</a>
{% endblock %}